# Tratamento de dados
    
## Instruções:
    1- Download dos dados municipais do estado de Minas Gerais:
    2- Transformação dos dados de desmatamento:
    3- Processamento dos dados:
        3.1 -reprojeção para EPSG:31983
        3.2 - cálculo de área
    4- Geração dos arquivos de saída no formato GeoJSON:

In [1]:
import geopandas as gpd
import pandas as pd
from pyproj import CRS

## 1 - Download dos dados de populacao e pib dos municipios do estado de Minas Gerais:

In [2]:
# base de dados originada da junção das tabelas oriundas de https://www.ibge.gov.br/estatisticas/downloads-estatisticas.html:
# - POP2021_20230710 = recorte dos dados relacionados a populacao dos municipios de MG na aba municipios
# - PIB dos Municípios - base de dados 2010-2021.xls = recorte do PIB de 2021 dos municipios de MG 
arquivo = "dados/populacao-pib-municipios-mg.csv"

# transformar o arquivo em um dataframe
pop_pib_municipios_mg = pd.read_csv(arquivo)

pop_pib_municipios_mg

     UF               Municipio           PIB  Populacao
0    MG     Abadia dos Dourados      176.774      7.022
1    MG                  Abaeté      541.239     23.263
2    MG              Abre Campo      262.687     13.434
3    MG                 Acaiaca       64.907      3.995
4    MG                 Açucena      165.824      9.270
..   ..                     ...           ...        ...
848  MG            Virginópolis      183.953     10.459
849  MG             Virgolândia       62.674      5.303
850  MG  Visconde do Rio Branco    1.351.679     43.351
851  MG            Volta Grande      140.361      5.270
852  MG          Wenceslau Braz       33.088      2.543

[853 rows x 4 columns]

## 2 - Transformação dos dados de desmatamento:

In [3]:
# arquivo contendo os dados de desmatamento de agosto de 2022 a serem explorados
arquivo = "dados/desmatamento_ago22.gpkg"

# transformar o arquivo em um geodataframe
desmatamento_ago22 = gpd.read_file(arquivo)

# ordenar a partir da coluna instância
desmatamento_ago22 = desmatamento_ago22.sort_values(by='Instância', ascending=True)

# relacionar os dados ao dataset
desmatamento_ago22['Mes'] = "agosto_22" 

desmatamento_ago22

,ogc_fid,id,Instância,Data Inicial,Data Final,Cena,Score,Data Processamento,Bioma,NuFis,Cia PM,geometry,Mes
0,1,6726,9696,26/07/2022,05/08/2022,22KFC,0.9,08/08/2022 13:08,Cerrado,Triângulo Mineiro,5,"POLYGON ((-49.15074 -20.03366, -49.15028 -20.0...",agosto_22
1,2,6727,9700,21/07/2022,26/07/2022,22KFD,0.9,08/08/2022 13:08,Cerrado,Triângulo Mineiro,5,"POLYGON ((-49.45834 -19.46058, -49.45555 -19.4...",agosto_22
2,3,6728,9701,21/07/2022,26/07/2022,22KFD,0.9,08/08/2022 13:08,Cerrado,Triângulo Mineiro,5,"POLYGON ((-49.28326 -19.63463, -49.28261 -19.6...",agosto_22
3,4,6729,9702,21/07/2022,05/08/2022,22KFD,0.93,08/08/2022 13:08,Cerrado,Triângulo Mineiro,5,"POLYGON ((-49.28382 -19.63454, -49.28289 -19.6...",agosto_22
4,5,6730,9703,21/07/2022,05/08/2022,22KFD,0.91,08/08/2022 13:08,Cerrado,Triângulo Mineiro,5,"POLYGON ((-49.12054 -19.64429, -49.11906 -19.6...",agosto_22
...,...,...,...,...,...,...,...,...,...,...,...,...,...
612,613,9964,14277,12/06/2022,22/06/2022,24LTH,0.92,09/08/2022 08:08,Mata Atlântica,Jequitinhonha,15,"POLYGON ((-40.99036 -15.79509, -40.98935 -15.7...",agosto_22
613,614,10142,14507,17/06/2022,22/06/2022,24LTH,0.9,09/08/2022 08:08,Mata Atlântica,Jequitinhonha,15,"POLYGON ((-41.58880 -15.76461, -41.58797 -15.7...",agosto_22
614,615,10417,14842,07/06/2022,17/06/2022,24LUH,0.93,09/08/2022 09:08,Mata Atlântica,Jequitinhonha,15,"POLYGON ((-40.28820 -16.15460, -40.28691 -16.1...",agosto_22
615,616,10418,14843,07/06/2022,17/06/2022,24LUH,0.91,09/08/2022 09:08,Mata Atlântica,Jequitinhonha,15,"POLYGON ((-40.27892 -16.15377, -40.27616 -16.1...",agosto_22
616,617,10419,14844,07/06/2022,17/06/2022,24LUH,0.91,09/08/2022 09:08,Mata Atlântica,Jequitinhonha,15,"POLYGON ((-40.31604 -16.17876, -40.31539 -16.1...",agosto_22

In [4]:
# arquivo contendo os dados de desmatamento de setembro de 2022 a serem explorados
arquivo = "dados/desmatamento_set22.gpkg"

# transformar o arquivo em um geodataframe
desmatamento_set22 = gpd.read_file(arquivo)

# ordenar a partir da coluna instância
desmatamento_set22 = desmatamento_set22.sort_values(by='Instância', ascending=True)

# relacionar os dados ao dataset
desmatamento_set22['Mes'] = "setembro_22"

desmatamento_set22

,Instância,Data Inicial,Data Final,Cena,Score,Bioma,NuFis,Cia PM,id,geometry,Mes
2,56,15/08/2022,09/09/2022,22KEC,0.94,Mata Atlântica,Triângulo Mineiro,5,3,"POLYGON ((-50.96237 -20.00151, -50.96284 -20.0...",setembro_22
60,273,19/09/2022,24/09/2022,22KED,0.84,Cerrado,Triângulo Mineiro,9,62,"POLYGON ((-50.46680 -19.19345, -50.46337 -19.1...",setembro_22
58,274,19/09/2022,24/09/2022,22KED,0.81,Cerrado,Triângulo Mineiro,5,60,"POLYGON ((-50.35981 -19.26533, -50.36037 -19.2...",setembro_22
57,275,19/09/2022,24/09/2022,22KED,0.83,Cerrado,Triângulo Mineiro,5,59,"POLYGON ((-50.14201 -19.29143, -50.14164 -19.2...",setembro_22
55,276,19/09/2022,24/09/2022,22KED,0.9,Cerrado,Triângulo Mineiro,5,57,"POLYGON ((-50.05963 -19.29645, -50.06010 -19.2...",setembro_22
...,...,...,...,...,...,...,...,...,...,...,...
1244,3237,10/09/2022,15/09/2022,24LTH,0.81,Mata Atlântica,Jequitinhonha,11,1300,"POLYGON ((-41.78941 -16.03858, -41.78960 -16.0...",setembro_22
1314,3238,10/09/2022,15/09/2022,24LTH,0.87,Mata Atlântica,Jequitinhonha,15,1375,"POLYGON ((-41.38690 -16.01168, -41.38690 -16.0...",setembro_22
1411,3239,10/09/2022,15/09/2022,24LTH,0.84,Mata Atlântica,Jequitinhonha,15,1477,"POLYGON ((-41.24587 -16.05997, -41.24468 -16.0...",setembro_22
1413,3240,06/08/2022,12/09/2022,24LUH,0.85,Mata Atlântica,Jequitinhonha,15,1479,"POLYGON ((-40.24695 -15.92629, -40.24676 -15.9...",setembro_22
1407,3241,06/08/2022,12/09/2022,24LUH,0.84,Mata Atlântica,Jequitinhonha,15,1473,"POLYGON ((-40.43198 -16.10765, -40.43207 -16.1...",setembro_22

In [5]:
# identificar registro único para cada evento em ambos os dataframes
valores_iguais = desmatamento_ago22[desmatamento_ago22['Instância'].isin(desmatamento_set22['Instância'])]['Instância'].unique()

# verificar se foram encontrados valores iguais relacionados a coluna Instância entre os dataframes
valores_iguais

array([], dtype=int64)

In [6]:
# excluindo ids antigos
desmatamento_ago22 = desmatamento_ago22.drop(columns=['id'])
desmatamento_set22 = desmatamento_set22.drop(columns=['id'])

In [7]:
# identificando as colunas em comum
colunas_em_comum = sorted(list(set(desmatamento_ago22.columns).intersection(desmatamento_set22.columns)))

# concatenar os dataframes com base nas colunas em comum
focos_desmatamento_mg = gpd.GeoDataFrame((pd.concat([desmatamento_ago22[colunas_em_comum], desmatamento_set22[colunas_em_comum]], ignore_index=True)))

# ordenar a partir da coluna instância
focos_desmatamento_mg = focos_desmatamento_mg.sort_values(by='Instância', ascending=True)

focos_desmatamento_mg

,Bioma,Cena,Cia PM,Data Final,Data Inicial,Instância,Mes,NuFis,Score,geometry
617,Mata Atlântica,22KEC,5,09/09/2022,15/08/2022,56,setembro_22,Triângulo Mineiro,0.94,"POLYGON ((-50.96237 -20.00151, -50.96284 -20.0..."
618,Cerrado,22KED,9,24/09/2022,19/09/2022,273,setembro_22,Triângulo Mineiro,0.84,"POLYGON ((-50.46680 -19.19345, -50.46337 -19.1..."
619,Cerrado,22KED,5,24/09/2022,19/09/2022,274,setembro_22,Triângulo Mineiro,0.81,"POLYGON ((-50.35981 -19.26533, -50.36037 -19.2..."
620,Cerrado,22KED,5,24/09/2022,19/09/2022,275,setembro_22,Triângulo Mineiro,0.83,"POLYGON ((-50.14201 -19.29143, -50.14164 -19.2..."
621,Cerrado,22KED,5,24/09/2022,19/09/2022,276,setembro_22,Triângulo Mineiro,0.9,"POLYGON ((-50.05963 -19.29645, -50.06010 -19.2..."
...,...,...,...,...,...,...,...,...,...,...
612,Mata Atlântica,24LTH,15,22/06/2022,12/06/2022,14277,agosto_22,Jequitinhonha,0.92,"POLYGON ((-40.99036 -15.79509, -40.98935 -15.7..."
613,Mata Atlântica,24LTH,15,22/06/2022,17/06/2022,14507,agosto_22,Jequitinhonha,0.9,"POLYGON ((-41.58880 -15.76461, -41.58797 -15.7..."
614,Mata Atlântica,24LUH,15,17/06/2022,07/06/2022,14842,agosto_22,Jequitinhonha,0.93,"POLYGON ((-40.28820 -16.15460, -40.28691 -16.1..."
615,Mata Atlântica,24LUH,15,17/06/2022,07/06/2022,14843,agosto_22,Jequitinhonha,0.91,"POLYGON ((-40.27892 -16.15377, -40.27616 -16.1..."
616,Mata Atlântica,24LUH,15,17/06/2022,07/06/2022,14844,agosto_22,Jequitinhonha,0.91,"POLYGON ((-40.31604 -16.17876, -40.31539 -16.1..."

In [8]:
# converter para a projeção EPSG:31983
focos_desmatamento_mg = focos_desmatamento_mg.to_crs(epsg=31983)

focos_desmatamento_mg

,Bioma,Cena,Cia PM,Data Final,Data Inicial,Instância,Mes,NuFis,Score,geometry
617,Mata Atlântica,22KEC,5,09/09/2022,15/08/2022,56,setembro_22,Triângulo Mineiro,0.94,"POLYGON ((-124558.799 7777208.524, -124607.724..."
618,Cerrado,22KED,9,24/09/2022,19/09/2022,273,setembro_22,Triângulo Mineiro,0.84,"POLYGON ((-75401.260 7868723.867, -75037.724 7..."
619,Cerrado,22KED,5,24/09/2022,19/09/2022,274,setembro_22,Triângulo Mineiro,0.81,"POLYGON ((-63866.920 7861093.781, -63927.596 7..."
620,Cerrado,22KED,5,24/09/2022,19/09/2022,275,setembro_22,Triângulo Mineiro,0.83,"POLYGON ((-40818.650 7858893.116, -40777.961 7..."
621,Cerrado,22KED,5,24/09/2022,19/09/2022,276,setembro_22,Triângulo Mineiro,0.9,"POLYGON ((-32119.895 7858592.513, -32167.326 7..."
...,...,...,...,...,...,...,...,...,...,...
612,Mata Atlântica,24LTH,15,22/06/2022,12/06/2022,14277,agosto_22,Jequitinhonha,0.92,"POLYGON ((929733.458 8249632.458, 929841.657 8..."
613,Mata Atlântica,24LTH,15,22/06/2022,17/06/2022,14507,agosto_22,Jequitinhonha,0.9,"POLYGON ((865579.305 8254142.756, 865667.952 8..."
614,Mata Atlântica,24LUH,15,17/06/2022,07/06/2022,14842,agosto_22,Jequitinhonha,0.93,"POLYGON ((1004217.190 8208186.158, 1004354.862..."
615,Mata Atlântica,24LUH,15,17/06/2022,07/06/2022,14843,agosto_22,Jequitinhonha,0.91,"POLYGON ((1005214.194 8208255.048, 1005509.008..."
616,Mata Atlântica,24LUH,15,17/06/2022,07/06/2022,14844,agosto_22,Jequitinhonha,0.91,"POLYGON ((1001171.419 8205574.005, 1001240.361..."

## 3 - Processamento dos dados de municípios:

In [15]:
# url contendo os dados a serem explorados
url = "https://raw.githubusercontent.com/tbrugz/geodata-br/master/geojson/geojs-31-mun.json"

# download do arquivo para um geodataframe
municipios_mg = gpd.read_file(url)

# remover coluna duplicada
municipios_mg = municipios_mg.drop(columns=['description'])

municipios_mg

,id,name,geometry
0,3100104,Abadia dos Dourados,"POLYGON ((-47.44410 -18.15847, -47.43543 -18.1..."
1,3100203,Abaeté,"POLYGON ((-45.18200 -18.88757, -45.17314 -18.8..."
2,3100302,Abre Campo,"POLYGON ((-42.36955 -20.13218, -42.35755 -20.1..."
3,3100401,Acaiaca,"POLYGON ((-43.11391 -20.35784, -43.10969 -20.3..."
4,3100500,Açucena,"POLYGON ((-42.38592 -18.92388, -42.38140 -18.9..."
...,...,...,...
848,3171808,Virginópolis,"POLYGON ((-42.70675 -18.66017, -42.68531 -18.6..."
849,3171907,Virgolândia,"POLYGON ((-42.32194 -18.35613, -42.32256 -18.3..."
850,3172004,Visconde do Rio Branco,"POLYGON ((-42.88457 -20.93903, -42.88098 -20.9..."
851,3172103,Volta Grande,"POLYGON ((-42.53029 -21.69567, -42.52692 -21.7..."
852,3172202,Wenceslau Braz,"POLYGON ((-45.33666 -22.51827, -45.34478 -22.5..."

### 3.1 - Reprojeção para EPSG:31983

In [14]:
# converter para a projeção EPSG:31983
municipios_mg = municipios_mg.to_crs(epsg=31983)

municipios_mg.head()

AttributeError: 'NoneType' object has no attribute 'to_crs'

### 3.2 - Cálculo de área

In [ ]:
# calcular a área de cada município
municipios_mg['area_km2'] = municipios_mg['geometry'].area / 10**6

municipios_mg.head()

## 4 - Geração dos arquivos de saída no formato GeoJSON:

In [ ]:
# salvar arquivo no formato geojson no diretório "dados/" 
arquivo_municipio_mg = "dados/municipios-mg.geojson"

municipios_mg.to_file(arquivo_municipio_mg, driver="GeoJSON")

In [ ]:
# salvar arquivo no formato geojson no diretório "dados/" 
arquivo_desmatamento_mg = "dados/focos-desmatamento-mg.geojson"

focos_desmatamento_mg.to_file(arquivo_desmatamento_mg, driver="GeoJSON")